[submodule "pc-manager-server"]
	path = pc-manager-server
	url = https://github.com/alexanderdemchik/pc-manager-server.git
[submodule "pc-manager-desktop"]
	path = pc-manager-desktop
	url = https://github.com/alexanderdemchik/pc-manager-desktop.git
